.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(232, 232, 232);
  gap: 1rem;
  border-radius: 50px;
  width: 350px;
  height: 35px;
  padding: 6px 6px;
}
